extends drop

block content
  h1= title
  p Welcome to #{title}
  .container
    .row.vall
      #bluebox.col-md-3
        h4#pbox valentino runway&gt;&gt;&gt;&gt;&gt;

      .col-md-3
        img.img-responsive.val(src='v12.jpg')

      .col-md-3
        img.img-responsive.val(src='v39.jpg')

      .col-md-3
        img.img-responsive.val(src='v33.jpg')

    .row
      h4
         pink bags&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;

    .row
      .col-md-3
        img.img-responsive.fendi(src='NETAPORTER/fendi.jpg')

        img.img-responsive.fendi(src='NETAPORTER/fendi.jpg')

      .col-md-3
        img.img-responsive.fendi(src='NETAPORTER/fendi.jpg')

        img.img-responsive.fendi(src='NETAPORTER/fendi.jpg')

      .col-md-3
        img.img-responsive.fendi(src='NETAPORTER/fendi.jpg')

        img.img-responsive.fendi(src='NETAPORTER/fendi.jpg')

      .col-md-3
        img.img-responsive.fendi(src='NETAPORTER/fendi.jpg')

        img.img-responsive.fendi(src='NETAPORTER/fendi.jpg')

    .row.vall
      #bluebox.col-md-3
        h4#pbox valentino runway&gt;&gt;&gt;&gt;&gt;

      .col-md-3
        img.img-responsive.val(src='v12.jpg')

      .col-md-3
        img.img-responsive.val(src='v39.jpg')

      .col-md-3
        img.img-responsive.val(src='v33.jpg')

    .row
      h4 all together&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;

    .row
      .col-md-2
        img.img-responsive.fendi(src='NETAPORTER/BALDENIM.jpg')

        img.img-responsive.fendi(src='NETAPORTER/NF.jpg')

      .col-md-2
        img.img-responsive.fendi(src='NETAPORTER/SLAURENT.jpg')

        img.img-responsive.fendi(src='NETAPORTER/BAL.jpg')

      .col-md-2
        img.img-responsive.fendi(src='NETAPORTER/GANNI.jpg')

        img.img-responsive.fendi(src='NETAPORTER/BALWHI.jpg')

      .col-md-2
        img.img-responsive.fendi(src='NETAPORTER/BALDENIM.jpg')

        img.img-responsive.fendi(src='NETAPORTER/NF.jpg')

      .col-md-2
        img.img-responsive.fendi(src='NETAPORTER/SLAURENT.jpg')

        img.img-responsive.fendi(src='NETAPORTER/BAL.jpg')

      .col-md-2
        img.img-responsive.fendi(src='NETAPORTER/GANNI.jpg')

        img.img-responsive.fendi(src='NETAPORTER/BALWHI.jpg')

      .row
        h4
          | pink bags&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;

      .row
        .col-md-3
          img.img-responsive.fendi(src='NETAPORTER/fendi.jpg')

        .col-md-3
          img.img-responsive.fendi(src='NETAPORTER/fendi.jpg')

        .col-md-3
          img.img-responsive.fendi(src='NETAPORTER/fendi.jpg')

        .col-md-3
          img.img-responsive.fendi(src='NETAPORTER/fendi.jpg')


