extends drop

block content
    h1.login= title
    form.form-horizontal(action='/users', method='POST', role='form')
        .form-group
            label.col-sm-12.control-label#words(for='inputEmail3') Email!
        .form-group
            .col-sm-12
                input#inputEmail3.form-control(type='email', placeholder='Email')
        .form-group
            label.col-sm-12.control-label#otherword(for='inputPassword3') Password
        .form-group
            .col-sm-12
                input#inputPassword3.form-control(type='password', placeholder='Password')
        .form-group
            .col-sm-12
                button.btn.btn-block.login(type='submit') Sign in
        .col-sm-12
            hr
            p#new Register here
        .form-group
            .col-sm-12
                button.btn.btn-block.login(type='submit') Create account

