extends drop

block content
    h1.text-center= title
    p.text-center Welcome to #{title}
    .container
      .row#pinkbox
        .col-md-12
      .row
        .col-xs-12.col-md-4
          .pic
            .w
              br
              |the
              br
              |transparent
              br
              |box
        .col-xs-12.col-md-4
          .pic
            .w
              br
              |the
              br
              |transparent
              br
              |box
        .col-xs-12.col-md-4
          .pic
            .w
              br
              |the
              br
              |transparent
              br
              |box
      .row
        .col-xs-12.col-md-4
          .pic
            .w
              br
              | the
              br
              | transparent
              br
              | box
        .col-xs-12.col-md-4
          .pic
            .w
              br
              | the
              br
              | transparent
              br
              | box
        .col-xs-12.col-md-4
          .pic
            .w
              br
              | the
              br
              | transparent
              br
              | box
